<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Album</title>
</head>
<body>

<h1>{{album}}</h1>
<h2>By {{artist}}</h2>
<br>

<h3>Liste des titres :</h3>
{% for track in tracks %}
    <p>{{track.name}} : {{track.unitPrice}}$</p>
{% endfor %}
<br>

<a href="{% url 'accueil' %}">
    <button>Retour à la page d'accueil</button>
</a>

<!-- <button type="button" onclick="location.href='http://127.0.0.1:8000/disks/accueil'">Retour à la page d'accueil</button> /-->

</body>
</html>